@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: /*"cwTeXYen",*/
    'Noto Sans TC', sans-serif;
    color: #fff;
    max-width: 100vw;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 16px;
    box-sizing: border-box;
    /* background-color: #750000; */
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
}

body {
    background-color: #2b323c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover {
    color: #fa0;
    font-size: 18px;
}

h2 {
    font-size: 24px;
    margin: 5vh 0;
}

h3 {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 20px;
    margin: 5vh 0;
}

.container {
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
}

.content {
    font-size: 18px;
    margin: 5vh 1vw 5vh 1vw;
    height: 100vh;
    max-height: 90vh;
    letter-spacing: 5px;
    text-wrap: wrap;
}

.content002_0 {
    font-weight: 700;
}

#tit {
    color: #fff;
    font-size: 20px;
    background-color: #7e8fa5;
    text-align: center;
    padding: 15px 10px;
    box-sizing: border-box;
}

#sideMenu {
    width: 300px;
    height: 100%;
    background-color: #546377;
    display: flex;
    flex-direction: column;
}

#ct {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#ct span {
    opacity: 0;
}

#ct::before {
    content: '';
    width: 24px;
    height: 4px;
    background-color: #000;
    box-shadow: 0 10px #000;
}

#home {
    writing-mode: vertical-rl;
    margin: 5vh 1vw 5vh 1vw;
    font-size: 18px;
}